<div class="currency">
  <div class="currency-group">
    <label for="currency-select">
      <span class="icon">x</span>
      Currency
    </label>
    <select 
      id="currency-select" 
      [value]="currencyService.currentCurrency().code"
      (change)="onCurrencyChange($event)"
      class="currency-select"
    >
      @for (currency of currencyService.currencies; track currency.code) {
        <option [value]="currency.code">
          {{ currency.symbol }} {{ currency.name }}
        </option>
      }
    </select>
  </div>

  @if (currencyService.currentCurrency().code === 'CUSTOM') {
    <div class="custom-group">
      <label for="custom-symbol">Custom Symbol</label>
      <input 
        type="text" 
        id="custom-symbol"
        [value]="currencyService.customSymbol()"
        (input)="onCustomSymbolChange($event)"
        placeholder="Enter symbol"
        maxlength="3"
        class="custom-input"
      />
    </div>
  }
</div>
